<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <components>
      <component
            id="ServiceConcrete1"
            service="DiSamples.NetFramework.Domain.Interfaces.IService, DiSamples.NetFramework.Domain"
            type="DiSamples.NetFramework.Domain.Models.ServiceConcrete1, DiSamples.NetFramework.Domain">
      </component>
      <component
            id="FullTimeEmployeeNamed"
            name="ServiceConcrete1"
            service="DiSamples.NetFramework.Domain.Interfaces.IService, DiSamples.NetFramework.Domain"
            type="DiSamples.NetFramework.Domain.Models.ServiceConcrete1, DiSamples.NetFramework.Domain">
      </component>
      <component
            id="ServiceConcrete2"
            name="ServiceConcrete2"
            service="DiSamples.NetFramework.Domain.Interfaces.IService, DiSamples.NetFramework.Domain"
            type="DiSamples.NetFramework.Domain.Models.ServiceConcrete2, DiSamples.NetFramework.Domain">
      </component>

    </components>
  </castle>
  
</configuration>