<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <assembly name="DiSamples.NetFramework.Domain" />
    <namespace name="DiSamples.NetFramework.Domain.Interfaces" />
    <namespace name="DiSamples.NetFramework.Domain.Models" />
    
    <alias alias="IService" type="DiSamples.NetFramework.Domain.Interfaces.IService, DiSamples.NetFramework.Domain" />
    <alias alias="ServiceConcrete1" type="DiSamples.NetFramework.Domain.Models.ServiceConcrete1, DiSamples.NetFramework.Domain" />
    <alias alias="ServiceConcrete2" type="DiSamples.NetFramework.Domain.Models.ServiceConcrete2, DiSamples.NetFramework.Domain" />
    
    <container>
      <register type="IService" mapTo="ServiceConcrete1" />
      <register type="IService" mapTo="ServiceConcrete1" name="ServiceConcrete1" />
      <register type="IService" mapTo="ServiceConcrete2" name="ServiceConcrete2" />
    </container>

  </unity>
</configuration>